<html>

<body>
    <main>
        <div>
            <h1 style="text-align: center;">Universities of <%= pays %>
            </h1>

            <ul>
                <% universities.forEach(function(university) { %>
                    <li>

                        <%= university.name %> : <br></t>
                            </t>
                            </t>

                    </li>
                    <% }); %>
            </ul>

        </div>
    </main>
</body>

</html>
